@model List<CloneProm.Models.ViewModels.CartItemViewModel>

<h2>Кошик</h2>

@if (!Model.Any())
{
    <p>Ваш кошик порожній</p>
}
else
{
    <div class="cart-body">

        @foreach (var item in Model)
        {
            <div class="cart-item">

                <img src="@item.Product.ImagePath" width="70" />

                <div class="flex-grow-1">

                    <div class="cart-item-title">
                        @item.Product.Name
                    </div>

                    <div class="cart-item-price">
                        @item.Product.Price грн
                    </div>

                    <div>
                        Кількість: @item.Quantity
                    </div>

                </div>

                <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="productId" value="@item.Product.Id" />
                    <button class="btn btn-sm btn-danger">?</button>
                </form>

            </div>
        }

    </div>
}