@model CloneProm.Models.Product

<h2>Product details</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Description:</strong> @Model.Description</p>
<p><strong>Price:</strong> @Model.Price</p>
<p><strong>Quantity:</strong> @Model.Quantity</p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
